{% extends 'projectshow/base.html' %}
{% block title %}
    <h1>{{ Demoname }}</h1>
{% endblock %}
{% block DemoIntroduce %}
    <div id="Introduce" class="content">
         <h3>项目介绍</h3>
            <p>对于五子棋这样的博弈类AI，很自然的想法就是让计算机把当前所有可能的情况都尝试一遍，找到最优的落子点。这里有两个问题： （1）如何把所有可能的情况都尝试一遍； （2）如何定量判断某落子点的优劣。
                对于第一个问题，其实就是所谓的博弈树搜索，对于第二个问题，其实就是所谓的选择评估函数。评估函数的选取直接决定了AI算法的优劣，其形式也千变万化。可以说，每个评估函数就是一个选手，对不同的棋型每个选手自然有不同的看法和应对措施，当然他们的棋力也就因此各不相同了。
                但博弈树搜索就比较固定了，其核心思想无非是让计算机考虑当前局势下之后N步所有可能的情况，其中奇数步（因为现在轮到AI下）要让AI方的得分最大，偶数步要让AI方的得分最小（因为对手也就是人类，也可以选择最优策略）。
                当然这样的搜索其计算量是极大的，这时候就需要剪枝来减少计算量。本项目今后会以网页游戏的形式出现。
            </p>
    </div>
{% endblock %}
{% block  VisionChange %}
    <div id="Update" class="content">
        <h3>版本更新</h3>
            <ul>
                <li>1.0.0</li>
                <p>采用pygame完成了一个井字棋的人机交互游戏，便于以后进行测试</p>
            </ul>
    </div>
{% endblock %}
{% block DemoDisplay %}
    <div id="Display" class="content">
        <h3>项目展示</h3>
        <p>暂无</p>
    </div>
{% endblock %}